.login-bg-image{
    background-image: url("../../../../../../../public/unnamed11.jpg");
    background-size: cover;
    background-position:top;
    height: 100vh;

}
.login-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.login-bg{
    background-color: rgba(255, 255, 255, 0.521);
}
.bg-shadow{box-shadow: rgba(50, 50, 93, 0.85) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.8) 0px 30px 36px -18px inset;}